{
    "Image": "mongo:latest",
    "ExposedPorts": {
        "27017/tcp": {}
    },
    "HostConfig": {
        "PortBindings": {
            "27017/tcp": [
                {
                    "HostPort": "{{ port }}"
                }
            ]
        }
    },
   "Env": [
        "MONGO_INITDB_ROOT_USERNAME={{ username }}",
        "MONGO_INITDB_ROOT_PASSWORD={{ password }}",
        "MONGO_INITDB_DATABASE={{ database }}"
    ]
}